* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#header-and-section1 {
    background-color: #1f2937;
    padding-bottom: 38px;
}

header {
    display: flex;
    padding: 20px 150px;
    justify-content: space-between;
}

.logo, #headerlink a {
    color: #f9faf8;
    text-decoration: none;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

#headerlink {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.section1 {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 80px 150px;
    gap: 20px;
}

#hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    flex: 1;
}

#hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

#sign-up {
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    background-color: #3882f6;
    margin: 10px 0;
}

#main-image {
    flex: 1;
}

#section2 {
    justify-content: center;
    padding: 40px 50px;
    padding-bottom: 112px;
}

#information-header {
    font-size: 36px;
    font-weight: 900;
    justify-content: center;
    color: #1f2937;
    display: flex;
    margin-bottom: 40px;
    flex: 1;
}

#information-images {
    justify-content: center;
    display: flex;
    gap: 48px;
}

#information-images img {
    border: 4px solid #3882f6;
    border-radius: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 175px;
}

.card p {
    text-align: center;
    font-size: 18px;
    color: #757679;
}

#section3 {
    background-color: #e5e7eb;
    padding: 124px 220px;
}

#quote-text {
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    padding-bottom: 4px;
}

#quote-source {
    font-size: 24px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
    padding-right: 40px;
}

#section4 {
    padding: 108px 112px;
}

#call-to-action {
    background-color: #3882f6;
    padding: 48px 116px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#sign-up.section4-button {
    border: 2px solid #e5e7eb;
}

.call-main-text {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.call-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

footer {
    background-color: #1f2937;
    padding: 32px 0;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}